/* COLORS */
:root {
  --dark-teal: #2f5f61;
  --light-teal: #d7e5e5;
  --mid-teal: #b5c8c8;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

body {
  background: white;
}

/* NAVBAR */
.navbar {
  width: 100%;
  background: var(--light-teal);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 45px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.nav-links li a {
  text-decoration: none;
  color: #003333;
  font-size: 18px;
  font-weight: bold;
}

/* MAIN PAGE LAYOUT */
.main-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 40px;
  padding: 40px;
}

/* LEFT PANEL */
.left-panel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.left-big-box {
  width: 100%;
  height: 350px;
  background: var(--dark-teal);
  border-radius: 20px;
  padding: 20px;
}

.left-small-box {
  width: 100%;
  height: 80px;
  background: var(--light-teal);
  border-radius: 15px;
}

/* CENTER AREA */
.center-area {
  background: var(--light-teal);
  padding: 40px;
  border-radius: 30px;
}

.center-top-box {
  width: 200px;
  height: 40px;
  background: var(--mid-teal);
  border-radius: 15px;
  margin-bottom: 20px;
}

.center-title-box {
  background: var(--mid-teal);
  padding: 40px;
  border-radius: 25px;
  margin-bottom: 40px;
}

.center-title-box h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.three-box-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.mid-box {
  width: 30%;
  background: var(--mid-teal);
  padding: 25px;
  text-align: center;
  border-radius: 20px;
  font-size: 18px;
}

.btn-row {
  text-align: left;
}

.start-btn {
  background: var(--dark-teal);
  padding: 15px 35px;
  font-size: 18px;
  border: none;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

/* RIGHT PANEL */
.right-panel {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-box {
  width: 100%;
  height: 150px;
  background: var(--light-teal);
  border-radius: 20px;
}

.right-box.small {
  height: 180px;
}
.mid-box {
    color: black;
    text-decoration: none;
}
